// agregando bootstrap
@import 'bootstrap.scss';

/* *********************** */
/*        animacion        */
/* *********************** */

@include keyframes(tomb) {
	50% {
		transform: scale(1.03) translateY(3px);
	}

	100% {
		transform: scale(1) translateY(0);
	}
}

@include keyframes(entrada) {
	0% {
		opacity: 0;
		transform: translateX(2em);
	}
	100% {
		opacity: 1;
	}
}

.logo {
	transform: scale(1);
	@include animation(tomb ease-in-out 3s infinite);
}

// formulario bajo header
// clase para generar glass
.bajoHeader {
	position: relative;
	overflow: hidden;
	background-image: url(../img/mainvideo.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: bottom;
}

.bajoHeader::before {
	content: '';
	background: inherit;
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.05);
	filter: blur(15px);
	transform: scale(1.3);
}

.icon {
	transition: all 0.5s ease-in-out;
}
.icon:hover {
	transform: rotate(10deg);
}

// $font-size: 1rem;
$icon-sizes: (
	'small': 1rem,
	'big': 3rem,
);
@each $name, $size in $icon-sizes {
	.icon--size-#{$name} {
		font-size: $size;
	}
}

/* *********************** */
/* Pagina actividades.html */
/* *********************** */

.tabla {
	&__table {
		// width: calc(100% / 250px);
		min-width: 250px;
		max-width: 250px;
		margin: 1rem;
	}
}
