// colores editados
$white: #fcfbf7;
$gray-100: #efeeeb;
$gray-800: #40434a;
$black: #202329;

$blue: #0d6efd;
$cyan: #009a9c;

$grays: (
    "100": $gray-100,
    "800": $gray-800,
);

$colors: (
    "blue": $blue,
    "cyan": $cyan,
    "white": $white,
    "gray-dark": $gray-800,
);

$primary: $cyan;
$info: $blue;
$dark: $gray-800;

$theme-colors: (
    "primary": $cyan,
    "info": $info,
);

$enable-shadows: true;
$enable-gradients: true;

// font family agregada
$primary-font-family: "Lora";
$secondary-font-family: "Playfair Display";
$font-family-sans-serif: $primary-font-family, sans-serif;
$font-family-base: $primary-font-family;

// table
$border-collapse: collapse;

%heading {
    font-family: $secondary-font-family;
}

@for $i from 1 through 6 {
    h#{$i} {
        @extend %heading;
    }
}

// agregando bootstrap
@import "bootstrap.scss";

// tablas
.border-collaps {
    border: none;
    border-collapse: $border-collapse !important;
}

// table {
//     border-collapse: $border-collapse !important;
// }

/* *********************** */
/*        animacion        */
/* *********************** */
@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}
@mixin animation($prop) {
    animation: #{$prop};
}

.logo {
    transform: scale(1);
    @include animation(tomb ease-in-out 3s infinite);
}

@include keyframes(tomb) {
    50% {
        transform: scale(1.03) translateY(3px);
    }

    100% {
        transform: scale(1) translateY(0);
    }
}

.mainHeader {
    &__card {
        bottom: 0;
        height: 320px;
        margin: auto;
        top: 0;
        width: 500px;
        z-index: 2;
    }
    &__card_video {
        filter: brightness(70%);
        @include animation(entrada ease-out 3s);
    }
}

@include keyframes(entrada) {
    0% {
        opacity: 0;
        transform: translateX(2em);
    }
    100% {
        opacity: 1;
    }
}

.img-thumbnail {
    filter: contrast(80%);
    transition: filter 0.5s ease-in-out;
}

.img-thumbnail:hover {
    filter: contrast(100%);
}

.seccionMuestra {
    &__imgDos > img,
    &__description {
        height: 270px;
        width: 494px;
    }
    &__imgUno > img,
    &__card {
        height: 340px;
        width: 494px;
    }
}

.mainUbicacion {
    &__mapa {
        width: 100%;
    }
}

.icon {
    transition: all 0.5s ease-in-out;
}
.icon:hover {
    transform: rotate(10deg);
}

// $font-size: 1rem;
$icon-sizes: (
    "small": 1rem,
    "big": 3rem,
);
@each $name, $size in $icon-sizes {
    .icon--size-#{$name} {
        font-size: $size;
    }
}

/* ********************* */
/* seccion ospedaje
Pagina hospedaje.html */
/* ********************* */

.vistaCompleta {
    &__img img {
        height: 600px;
        width: 500px;
    }
}

/* *********************** */
/* Pagina actividades.html */
/* *********************** */
.tabla {
    &__table {
        width: calc(100% / 250px);
        min-width: 250px;
        max-width: 250px;
        margin: 16px;
    }
}

/* *********************** */
/* Pagina voluntarios.html */
/* *********************** */

.enConstruccion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    min-height: 300px;

    div {
        height: 267px;
        position: relative;
        top: 0px;
        width: 400px;
        p {
            font-size: 8em;
            position: absolute;
            z-index: 3;
            margin: 0;
            color: rgba(32, 35, 41, 0.9);
            font-weight: bold;
        }
    }
    img {
        box-shadow: 2px 3px 10px -2px #202329;
        height: 267px;
        opacity: 0.7;
        transform-origin: top left;
        transform: rotate(10deg);
        width: 400px;
    }
}

/* *********************** */
/*         queries         */
/* *********************** */

@mixin media_w_h($mWidth, $height) {
    max-width: $mWidth;
    height: $height;
}

// @media (max-width: 991.98px)
@include media-breakpoint-down(lg) {
    .seccionMuestra {
        &__top {
            margin-bottom: 16px;
        }
    }

    .enConstruccion {
        div {
            p {
                font-size: 6em;
            }
        }
    }
}
// @media (max-width: 767.98px)
@include media-breakpoint-down(md) {
    .enConstruccion {
        div {
            p {
                font-size: 4em;
            }
        }
    }
}
// @media (max-width: 575.98)
@include media-breakpoint-down(sm) {
    .seccionMuestra {
        &__description,
        &__imgDos > img,
        &__imgUno > img,
        &__card {
            @include media_w_h(100%, auto);
        }
        &__description {
            padding: 1em;
        }
    }
    .mainHospedaje {
        &__description {
            @include media_w_h(100%, auto);
            padding: 1em;
        }
    }
    .vistaCompleta {
        &__img {
            img {
                @include media_w_h(100%, 600px);
            }
        }
    }

    .enConstruccion {
        div {
            p {
                font-size: 3em;
            }
        }
        img {
            height: auto;
            width: 100%;
        }
    }
}
