{
  "bracketSpasing": true,
  "jxsBracketSameLine": true,
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "es5",
        "useTabs": true,
        "vueIndentScriptAndStyle": true
      }
    },
    {
      "files": "*.scss",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 4,
        "trailingComma": "es5",
        "useTabs": true,
        "vueIndentScriptAndStyle": true
      }
    },
    {
      "files": "*.js",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": false,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": false,
        "tabWidth": 4,
        "trailingComma": "es5",
        "useTabs": true,
        "vueIndentScriptAndStyle": false
      }
    },
    {
      "files": "*.html",
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "htmlWhitespaceSensitivity": "css",
        "insertPragma": false,
        "jsxBracketSameLine": true,
        "jsxSingleQuote": false,
        "proseWrap": "preserve",
        "quoteProps": "as-needed",
        "requirePragma": false,
        "semi": true,
        "singleQuote": false,
        "trailingComma": "es5",
        "useTabs": true,
        "vueIndentScriptAndStyle": false,
        "tabWidth": 4,
        "printWidth": 320
      }
    }
  ]
}
